<!DOCTYPE html>
<html>
<head>
<style>

/* spacing */

table, th, td {
    border: 1px solid black;
}

table {
  width: 100%;
  border: 2px solid darkgreen;
  border-collapse: collapse;
  padding: 6px;
}

td {
  padding: 5px;
  border-bottom: 1px solid papayawhip;
  border-collapse: collapse;
}

thead {
    border: 2px solid darkgreen;
}

tr:hover {
    border-color: bisque;
    background-color: lightpink;
}

th {
  font-family: monospace;
  background-color: papayawhip;
  padding: 6px;
  text-align: left;
}

caption {
    font-family: arial;
    text-align: left;
    padding: 12px;
}

td {
    font-family: monospace;
}


</style>
</head>
<body>

</body>
</html>